*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    background:lightblue;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    position: relative;
    width:100%;
    max-width:1000px;
    min-height: 1000px;
    margin:50px;
    background: #fff;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.container .left{
    position: relative;
    background: #003147;
    padding:40px;
}

.container .left .profile{
    position: relative;
    display: flex;
    flex-direction:column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid ;
}

.container .left .profile .img img{
    width:200px;
    height:200px;
    border-radius: 50%;
}

.container .left .profile h2{
    color:#fff;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.5em;
}

.container .left .profile span{
    font-weight: 300;
    font-size: 0.8em;
}

.container .left .contact{
    padding-top: 40px;
}

.container .left h3{
    color:#fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.container .left ul{
    position: relative;
}

.container .left ul li{
    position: relative;
    list-style: none;
    margin:10px 0;
    cursor: pointer;
}

.container .left ul li .icon{
    display:inline-block;
    width:30px;
    font-size: 18px;
    color:rgb(186, 232, 232);
}

.container .left ul li span{
    color:#fff;
    font-weight: 300;
}

.container .left .education .title{
    margin-top: 20px;
    letter-spacing: 3px;
}

.container .left .education li{
    margin-bottom: 15px;
}

.container .left .education h5{
    color:rgb(186, 232, 232);
}

.container .left .education h4{
    color:#fff;
    font-weight: 300;
}

.container .left .language .percent{
    position: relative;
    width:100%;
    height: 9px;
    background: #081921;
    display:block;
    border-radius: 5px;
}

.container .left .language .percent div{
    background: rgb(153, 245, 245);
    height:100%;
    border-radius: 5px;
}

.container .right{
    position: relative;
    background: rgb(255, 255, 255);
    padding:40px;
}

.about{
    margin-bottom: 50px;
}
.about:last-child{
    margin-bottom: 0;
}

.about h2{
    color:#003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

p{
    color:#333;
}

.about .box{
    display: flex;
    flex-direction: row;
    margin:20px 0;
}

.about .box .year_company{
    min-width: 150px;
}

.about .box .year_company h5{
    text-transform: uppercase;
    color:#848c90;
    font-weight: 600;
}

.about .box .text h4{
    text-transform: uppercase;
    color:#2a7da2;
    font-weight: 600;
}

.skills .box{
    position:relative;
    width:100%;
    display:grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}

.skills .box h4{
    text-transform: uppercase;
    color:#848c99;
    font-weight: 500;
}

.skills .box .percent{
    position: relative;
    width:100%;
    height:10px;
    background-color: #999;
    border-radius: 5px;
}

.skills .box .percent div{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    background: rgb(153, 245, 245);
    border-radius: 5px;
}

@media(max-width:62rem){
    .container{
        display: flex;
        flex-direction: column;
    }
}